body {
  display: flex;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
  margin: auto;
  font-size: 40px;
  font-weight: 900;
  color: rgb(51, 51, 138);
  text-decoration: underline;
}
h3 {
  text-align: center;
  color: rgb(145, 20, 30);
}
.bloc1 {
  margin-top: 200px;
  width: 400px;
  margin: auto;
}
#container {
  width: 650px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  background: rgb(223, 182, 2);
  opacity: 0.6;
}
.bloc2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.box {
  width: 300px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 10px;
  margin-right: 10px;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
label {
  color: rgb(145, 20, 30);
  font-size: 25px;
  font-weight: bold;
}
i {
  margin-right: 20px;
}
.form-control {
  margin-bottom: 10px;
}
#city {
  background-color: rgba(221, 108, 3, 0.75);
}
#temp {
  background-color: rgba(180, 2, 46, 0.75);
}
#humidity {
  background-color: rgba(52, 152, 219, 0.75);
}
#wind {
  background-color: rgba(143, 148, 151, 0.75);
}
#pression {
  background-color: rgba(29, 3, 146, 0.75);
}
#weather {
  background-color: rgba(6, 170, 6, 0.75);
}
